<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tipo_documento.nombre %>
</p>


<%= link_to 'editar', edit_tipo_documento_path(@tipo_documento) %> |
<%= link_to 'atrás', tipo_documentos_path %>
