



<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/formularios.css" media="screen">
    </head>
    <body>
        <h3>asd</h3>
        <h4>Altas</h4>
        <table class="table table-bordered table-striped">
            <tr><th>Agente</th><th>Fecha</th><th>Situación</th></tr>
            asdsa
        </table>
        <h4>Licencias</h4>
        <table class="table table-bordered table-striped">
            <tr><th>Agente</th><th>Fecha</th><th>Finaliza</th><th>Licencia</th></tr>
            asda
        </table>
        <h4>Bajas</h4>
        <table class="table table-bordered table-striped">
            <tr><th>Agente</th><th>Fecha</th></tr>
           asds
        </table>
    </body>
</html>